/* style.css */

        .alert-text {
            color: red;
            font-weight: bold;
            font-size: 1.2em;
        }
        .home-link {
            font-weight: bold;
            color: blue;
        }
        .commi-link, .contact-link {
            font-weight: bold;
            color: green;
        }
        .resume-link {
            font-weight: bold;
            color: purple;
        }
        .shop-link {
            font-weight: bold;
            color: orange;
        }
        .recipes-link {
            font-weight: bold;
            color: brown;
        }
        #hello-text {
            color: darkblue;
        }
        .hello-again {
            color: darkgreen;
            font-style: italic;
        }
        .subsection{
            color: darkred;
        }
        h2 {
            background:rgba(245, 224, 207, 0.637);
            font-family: "Helvetica", sans-serif;
            text-align: center;
            padding: 10px;;
        }
        
        a {
            text-decoration: none;
        }